{% extends "layout.html" %}

{% block content %}

<div class="container">

  <div class="row artist-title">

    <div class="col-sm-6">


    </div>

  </div>

  <div class="row">

    <div class="col-sm-5">
        <center>
      <section class="sec">
        <img style="border-radius:1%;" width="90%" height="90%" src="{{album_info['images'][0]['url']}}"  class="img-fluid img-square">
      </section>
        </center>
    </div>

    <div class="col-sm-7">
        <h1 style="background-color:#004b53; padding:10px; display:inline; border-radius:3%;">{{album_info['name']}}</h1>
        <a style="color:white;" href="{{url_for('artist', id=album_info['artists'][0]['id'])}}">
            <h2>{{album_info['artists'][0]['name']}}</h2>
        </a>
        <i>{{album_info['release_date']}}</i>
        <table class="table">
  <thead>
  <tr>
      <th></th>
  </tr>
  </thead>
  <tbody>

     {% for track in album_tracks %}
     <tr>
        <td style="padding:20px;">{{loop.index0 +1}}. {{track['name']}}</td>
     </tr>
     {% endfor %}

  </tbody>
        </table>
  </div>

</div>
  </div>
{% endblock %}
