{% extends "layout.html" %}

{% block content %}

  <div class="container">
     <div class="row">
    <div class="col-sm-5" style="border: 3px solid #ccc;">
      <center>
        <br />
      <img  style=" border-radius: 50%;" width="90%" height="90%" src="../static/imgs/profile.jpg" class="img-fluid img-square">
      <div style="" ><h1>Grzegorz Meller</h1><h3>Experienced Web Developer and Data Engineering Student</h3>
        <a href="https://twitter.com/GrzesiekMeller" target="_blank">
              <i class="fa fa-twitter-square" style="font-size:48px;color:white"></i>
             </a> &nbsp;
             <a href="https://github.com/GrzegorzMeller" target="_blank">
               <i class="fa fa-github-square" style="font-size:48px;color:white"></i>
             </a> &nbsp;
            <a href="https://www.linkedin.com/in/grzegorzmeller/" target="_blank">
              <i class="fa fa-linkedin-square" style="font-size:48px;color:white"></i>
            </a>
        </div>
        <br />
      </center>
    </div>
        <div class="col-sm-7">
        <h1 style="margin-bottom: 5px;">About</h1>
          <hr>
          <p style="font-size:26px; text-align: justify;">Hi, my name is Grzegorz Meller. I'm Data Engineering student at Gdansk University of Technology and former ASP.Net Full-Stack Developer.
          I created this application as a side-project to learn Python and OAuth2. Also I was very excited about Spotify and my own music statistics.
          I'm very open for new opportunities, currently looking for summer internship in data science/information technology.
          If you want to contact me (not only for business reasons) feel free to email me!</p>
          <div style=" background-color:purple; width:50%;">
           <h3 style="margin-bottom: 5px; padding:10px;">MAIL: grzesek98@gmail.com</h3>
          </div
        </div>
  </div>

{% endblock %}
