{% extends "layout.html" %}

{% block content %}
<div class="jumbotron" style="background-image: url('../static/imgs/background.jpg'); background-size: cover; margin-top:-20px; height:100%;margin-bottom:0px; padding-bottom:0px; height: 100vh;">
      <div class="container">
        <h1>Welcome to the House Of Tunes!</h1>
        <p style="font-size:25px;">Your favourite music in one place. Log in with your Spotify account to see your most played artists and tracks!</p>
        <a style="font-size:30px;" type="button" class="btn btn-success" href="/auth"><i class="fa fa-spotify" style="font-size:36px;color:white"></i><b> Log in with Spotify account</b></a>
      </div>
    </div>
 <!-- <div class="container">
    <div class="mt-1">
      <h1 style="background-color:purple">House Of Tunes</h1>
    </div>
    <div class="row">
    <div class="col-sm-4">
  <div class="container">
    <div class="mt-1">
      <h1>Profile</h1>
    </div>
    <p class="lead">You need to log in to see ranking of your most listened artists and tracks.</p>

  <a href="https://twitter.com/el_alturas" class="btn btn-social-icon btn-spotify" target="_blank">
    <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-youtube-square fa-stack-1x"></i>
</span>
  </a>
    <a type="button" class="btn btn-default" href="/auth">Login</a>
  </div>
  </div>
      <div class="col-sm-8">
        <p style="font-size:20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus est ante, a mollis ligula mattis sed. Praesent posuere mollis enim quis aliquet. Curabitur viverra ultricies consequat. Etiam sollicitudin diam a risus dignissim lacinia sed eget magna. Nam non tellus ac eros rutrum facilisis in eget libero. Integer sagittis mollis varius. Aenean eget ullamcorper lectus, ac lacinia risus. Nunc interdum imperdiet ante a euismod. Maecenas pulvinar mi eu enim mollis, sit amet egestas nulla accumsan. Sed iaculis vulputate libero, rhoncus pretium ligula.</p>
        <h2 style="background-color:purple">Users best song choice of a week</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YTCUZdaWFXU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>-->

{% endblock %}
